
config dropbear
	option DropbearPort '22'
	option DropbearPasswordAuth 'on'
	option DropbearQos 'on'
	option OpensshPasswordAuth '1'
	option OpensshRootPasswordAuth '1'
	option OpensshPort '9527'
	option DropbearEnable '1'
	option DropbearRootPasswordAuth 'on'
	option OpensshEnable '1'
	option OpensshMaxAuthTries '5'
	option DropbearInterface 'lan'

